div {
    width: 250px;
    color: blueviolet;
    font-size: 16px;
    text-align: center;
    border: 3px solid black; border-radius: 30%;
}

span {
    font-size: 18px;
    font-weight: bold;
}

img {
    height: 75px;
    width: 75px;
}