body {
    text-align: center;
}

.button {
   margin: 20px;
   padding: 10px;
   border-radius: 30px;
   border: 1px black solid;
   background-color: white;

}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin: 0 auto;
}

.circle {
    border: 2px black solid;
} 