body{
    margin: 0 auto;
    padding: 20px 20px;
}

header{
    width: 800px;
    height: 200px;    
    border: 2px solid red;
    box-sizing: border-box;    
}

main{
    display: flex;
    width: 800px;
    height: 400px;
    border: 2px solid orange;
    box-sizing: border-box;
}

nav{
    width: 100px;    
    border-right: 2px solid orange;
    box-sizing: border-box;    
}
section{
    width: 700px;    
    padding: 10px 10px;
    color: gray;
    box-sizing: border-box;   
}
footer{
    width: 800px;
    height: 200px;    
    border: 2px solid darkgrey;
    box-sizing: border-box;
}